.mat-column-tripName {
    padding: 0px 40px 0px 40px;
}
  
.mat-column-startDate,
.mat-column-endDate,
.mat-column-userCount {
    padding: 0px 20px 0px 20px;
}
  
.mat-column-userCount {
    text-align: center;
}